.feinman__link {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  position: absolute;
  bottom: 50%;
  right: 48px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: opacity linear .5s;
  -o-transition: opacity linear .5s;
  transition: opacity linear .5s;
}

.feinman__link:hover {
  opacity: .5;
}
